USE [master]
GO
/****** Object:  Database [Dron]    Script Date: 22-08-2022 14:51:47 ******/
CREATE DATABASE [Dron]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dron', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Dron.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Dron_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Dron_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dron].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dron]
GO
USE [Dron]
GO
/****** Object:  Table [dbo].[dron]    Script Date: 22-08-2022 14:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dron](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[numeroserie] [nvarchar](100) NULL,
	[IdModelo] [int] NULL,
	[peso] [int] NULL,
	[porcentaje_bateria] [int] NULL,
	[Idestado] [int] NULL,
 CONSTRAINT [PK_dron_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dron_medicamento]    Script Date: 22-08-2022 14:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dron_medicamento](
	[iddron] [int] NULL,
	[idmedicamento] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado]    Script Date: 22-08-2022 14:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_estado] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicamentos]    Script Date: 22-08-2022 14:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicamentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[peso] [int] NULL,
	[codigo] [varchar](50) NULL,
	[imagen] [varchar](200) NULL,
 CONSTRAINT [PK_medicamentos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[modelo]    Script Date: 22-08-2022 14:51:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modelo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[pesaje] [int] NULL,
 CONSTRAINT [PK_modelo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[dron] ON 

INSERT [dbo].[dron] ([Id], [numeroserie], [IdModelo], [peso], [porcentaje_bateria], [Idestado]) VALUES (1, N'QWEQWEQWEQWEWQqwe', 1, 400, 80, 2)
INSERT [dbo].[dron] ([Id], [numeroserie], [IdModelo], [peso], [porcentaje_bateria], [Idestado]) VALUES (2, N'DSFASDFWQRQE', 2, 500, 20, 1)
INSERT [dbo].[dron] ([Id], [numeroserie], [IdModelo], [peso], [porcentaje_bateria], [Idestado]) VALUES (3, N'ASDASDASasdasasdsad', 3, 300, 0, 4)
SET IDENTITY_INSERT [dbo].[dron] OFF
SET IDENTITY_INSERT [dbo].[estado] ON 

INSERT [dbo].[estado] ([Id], [nombre]) VALUES (1, N'INACTIVO')
INSERT [dbo].[estado] ([Id], [nombre]) VALUES (2, N'CARGANDO')
INSERT [dbo].[estado] ([Id], [nombre]) VALUES (3, N'CARGADO')
SET IDENTITY_INSERT [dbo].[estado] OFF
SET IDENTITY_INSERT [dbo].[medicamentos] ON 

INSERT [dbo].[medicamentos] ([Id], [nombre], [peso], [codigo], [imagen]) VALUES (1, N'medicamento 1', 200, N'DDLDDL', NULL)
INSERT [dbo].[medicamentos] ([Id], [nombre], [peso], [codigo], [imagen]) VALUES (2, N'medicamento 2', 300, N'ASDASD', NULL)
INSERT [dbo].[medicamentos] ([Id], [nombre], [peso], [codigo], [imagen]) VALUES (3, N'medicamento 3', 100, N'ASDASD', NULL)
SET IDENTITY_INSERT [dbo].[medicamentos] OFF
SET IDENTITY_INSERT [dbo].[modelo] ON 

INSERT [dbo].[modelo] ([Id], [Nombre], [pesaje]) VALUES (1, N'peso ligero', 100)
INSERT [dbo].[modelo] ([Id], [Nombre], [pesaje]) VALUES (2, N'peso medio', 200)
INSERT [dbo].[modelo] ([Id], [Nombre], [pesaje]) VALUES (3, N'peso crucero', 300)
SET IDENTITY_INSERT [dbo].[modelo] OFF
ALTER TABLE [dbo].[dron]  WITH CHECK ADD  CONSTRAINT [FK_dron_dron] FOREIGN KEY([IdModelo])
REFERENCES [dbo].[modelo] ([Id])
GO
ALTER TABLE [dbo].[dron] CHECK CONSTRAINT [FK_dron_dron]
GO
ALTER TABLE [dbo].[dron]  WITH CHECK ADD  CONSTRAINT [FK_dron_dron_estado] FOREIGN KEY([Idestado])
REFERENCES [dbo].[estado] ([Id])
GO
ALTER TABLE [dbo].[dron] CHECK CONSTRAINT [FK_dron_dron_estado]
GO
ALTER TABLE [dbo].[modelo]  WITH CHECK ADD  CONSTRAINT [FK_modelo_modelo] FOREIGN KEY([Id])
REFERENCES [dbo].[modelo] ([Id])
GO
ALTER TABLE [dbo].[modelo] CHECK CONSTRAINT [FK_modelo_modelo]
GO
USE [master]
GO
